
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><%= @list.name %></h1>
  <%= link_to 'Add a Movie', new_list_bookmark_path(@list), class: 'btn btn-primary' %>
  </div>
</div>
<br>
<div class="container p-400">

    <span class="mb-2 d-block"><em class="text-muted"><%= "You haven't saved any movies yet!" if @list.movies.empty? %></em></span>

    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <%= image_tag movie.poster_url, alt: movie.title %>
      <%= movie.title %> <span> <%= movie.rating %></span>
      <%= movie.overview %>
      <%= bookmark.comment %>
      <%= link_to "delete a movie", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
    <% end %>


  </div>
